#Это комментарий (строка, начинающаяся с '#');
# он игнорируется обработчиком настроек.

#Файл '.env' является ПРИВАТНЫМ и его НЕЛЬЗЯ ПОКАЗЫВАТЬ.
# Он содержит токен, дающий полный доступ к боту.

#Токен СЕКРЕТНЫЙ! Не разглашайте его никому.
BOT_SECRET_TOKEN = Здесь_токен_бота

#ID вашего сервера
GUILD_ID = 1235672348234088458

#ID вашего технического канала, куда бот может если что
# кидать ошибки и оповещения.
# (!) Проверьте, чтобы бот мог отправлять сообщения в этот канал.
BOT_SYSTEM_CHANNEL_ID = 1235672348234088461

#ID канала для партнёрств.
# Если у вас несколько каналов партнёрств, перечислите из ID через запятую.
# (!) Проверьте, чтобы бот мог отправлять сообщения в этот канал.
# (!!!) Проверьте, чтобы бот мог СТАВИТЬ РЕАКЦИИ на сообщения в этом канале.
PARTNERSHIP_CHANNELS_ID = 1235672348234088461

#ID стафф-чата. Бот использует его для отправки оповещений делегатам
# в том случае, если у него закрыт ЛС.
# (!) Проверьте, чтобы бот мог отправлять сообщения в этот канал.
STAFF_CHANNEL_ID = 1235672348234088461

#ID роли "Партнёр". Если у вас такой нет, оставьте пустым или удалите этот параметр.
# (!) Проверьте, чтобы бот имел право "Управлять ролями", если используете эту функцию.
PARTNER_ROLE_ID =

#Настройки прав ролей в боте. См. файл 'README.md'
ROLE_1338111583955456092_PERMISSIONS = админ
ROLE_1338110939974860880_PERMISSIONS = управлять_чс, управлять_партнёрством, смотреть_стату_отдела, смотреть_чужую_стату, партнёрство
ROLE_1338110006775513148_PERMISSIONS = управлять_партнёрством, смотреть_стату_отдела, смотреть_чужую_стату партнёрство
ROLE_1338110149352489044_PERMISSIONS = партнёрство

#ID пользователей-админов. Автоматически получают право "админ" в боте.
# Можно удалить эту настройку.
ADMIN_ID_LIST = 310848622642069504, 1138526883567390810, 1350830747317043250

#(Условие партнёрства) Минимальное кол-во участников.
# Если ограничений нет, поставьте -1.
# По умолчанию / если не указано, -1 (то есть нет ограничений)
REQUIREMENT_MINIMAL_MEMBERS = 10

#(Условие партнёрства) Текст может публиковаться только 1 раз в день?
# (сброс в 00:00 по настроенному часовому поясу).
# По умолчанию / если не указано, FALSE (то есть нет).
REQUIREMENT_ONCE_PER_DAY = FALSE

#Удалять старые тексты сервера, когда публикуется новый?
# (чтобы не засорять канал партнёрств).
# Не работает на тексты, опубликованные до добавления бота.
# По умолчанию / если не указано, TRUE (то есть да).
DELETE_OLD_TEXTS = TRUE



### РЕДКИЕ НАСТРОЙКИ: ###

#ID канала, куда бот будет сбрасывать дампы (резервные копии)
# базы данных в формате ZIP-файлов.
# Примечание: бот удаляет все дампы в канале кроме последнего.
# Если функция резервных копий вам не нужна, оставьте пустым.
DB_DUMPS_CHANNEL_ID =

#Префикс бота для некоторых текстовых команд
# (их мало; в основном, для админа / разработчика)
BOT_TEXT_PREFIX = dg.

#При первом (и единственном) полном сканировании канала партнёрств,
# удалять ли старые тексты с недействительными (истёкшими) ссылками,
# и засчитывать ли их? (тексты БЕЗ ссылок сюда НЕ входят).
#Допустимые значения:
# - DELETE (игнорировать и удалять)
# - IGNORE (игнорировать, но НЕ удалять)
# - COUNT (засчитывать как обычные партнёрства)
# По умолчанию / если не указано, IGNORE.
GENERAL_SCAN_UNFETCHED_STRATEGY = IGNORE

#При первом (и единственном) полном сканировании канала партнёрств,
# сколько ссылок можно обработать за день?
#Рекомендуемые значения: (чем больше, тем быстрее проходит сбор статистики)
# 500 - (по умолчанию) стабильный режим
# 600 - ускоренный (не протестировано; опасно)
# 700 - быстро (но бот может улететь во врем.бан; опасно, не протестировано)
#Чем больше число, тем больше шанс улететь во временный бан бота (от Дискорда).
# Эти значения не протестированы, и вы не застрахованы от лимитов.
GENERAL_SCAN_DAILY_LIMIT = 500

#(Техническое) Временной интервал пачки уведомлений партнёру.
# В секундах.
# Бот ждёт указанное кол-во секунд, вдруг делегат опубликует
#  ещё один текст на имя партнёра.
# Если ваши делегаты публикуют тексты медленно, увеличьте это значение.
# По умолчанию / если не указано, 60 (секунд)
PARTNER_ALERTS_BATCH_DURATION = 60

#Часовой пояс по UTC. По умолчанию, UTC+3 (по Московскому, МСК)
TIMEZONE_UTC_OFFSET = 3

#Уровень подробности логирования.
# Доступные уровни: WARN, INFO, TRACE.
# Самый краткий: WARN (только самое нужное),
#  INFO - все действия, TRACE - все действия включая фоновые.
# По умолчанию / если не указано, INFO.
LOG_LEVEL = INFO

#Срок жизни логов (в сутках), по истечению которого лог удаляется.
# Чтобы отключить удаление старых логов, поставьте -1.
# По умолчанию / если не указано, 30.
LOGS_LIFE_DURATION = 30



#Также, существуют и иные настройки, которые вам вообще не понадобятся:

#Включить режим отладки (для разработчиков).
# Не для сбора отладочной информации, а для перевода бота в тестовый режим.
# Сделано чтобы не мешал основному боту на время отладки.
# Я совершенно забил на этот режим, и он здесь существует как рудимент.
#ENABLE_DEBUG = FALSE

#Префикс тестового бота (чтобы не путался с обычным).
# Для случаев, когда запущен и основной бот, и тестовый вариант.
#TEST_BOT_TEXT_PREFIX = dgt.
